.ProductListScss {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
  
    .leftSide {
      border-radius: 20px;
      border: 2px solid black;
      height: 80vh;
      width: 14.5%;
      padding: 20px;
  
      @media (max-width: 900px) {
        width: 25%;
        height: auto;
      }
  
      @media (max-width: 600px) {
        width: 100%;
        height: auto;
        border-bottom: 2px solid black;
      }
    }
  
    .rightSide {
      border-radius: 20px;
      border: 2px solid black;
      height: 80vh;
      width: 84.5%;
      padding: 20px;
  
      @media (max-width: 900px) {
        width: 74%;
        height: auto;
      }
  
      @media (max-width: 600px) {
        width: 100%;
        height: auto;
        border-top: 2px solid black;
      }
    }
  
    @media (max-width: 600px) {
      flex-direction: column;
      gap: 10px;
    }
  }
  